.article .header-anchor {
  display: none;
}

.article a {
  color: var(--deep-text);
  text-decoration: none;
  border-bottom: 1px solid var(--border);
  transition: border ease-in-out 0.3s;
}

.article a:hover {
  border-color: var(--deep-text);
}

.article img {
  max-width: 100%;
  margin: 1rem auto;
  display: block;
}
