:root {
  --primary-color: #68b88e;
  /* color in light mode */
  --deep-text-black: rgba(0, 0, 0);
  --title-text-black: rgba(0, 0, 0, 0.85);
  --primary-text-black: rgba(0, 0, 0, 0.65);
  --secondary-text-black: rgba(0, 0, 0, 0.45);
  --disabled-text-black: rgba(0, 0, 0, 0.25);
  --border-black: rgba(0, 0, 0, 0.15);
  --divider-black: rgba(0, 0, 0, 0.06);
  --background-black: rgba(0, 0, 0, 0.04);
  --app-background-white: rgb(255, 255, 255);
  /* color in dark mode */
  --deep-text-white: rgba(255, 255, 255);
  --title-text-white: rgba(255, 255, 255, 0.85);
  --primary-text-white: rgba(255, 255, 255, 0.65);
  --secondary-text-white: rgba(255, 255, 255, 0.45);
  --disabled-text-white: rgba(255, 255, 255, 0.3);
  --border-white: rgba(255, 255, 255, 0.2);
  --divider-white: rgba(255, 255, 255, 0.12);
  --background-white: rgba(255, 255, 255, 0.08);
  --app-background-black: rgba(20, 20, 20);
  --max-width: 70ch;
}

* {
  font-weight: 400;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol,
    "Noto Color Emoji";
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 10px;
}

#app {
  padding: 1.6rem 3rem 8rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

a:active {
  color: var(--primary-color);
}

.dark [class*="-light"] {
  display: none;
}

.light [class*="-dark"] {
  display: none;
}

s {
  text-decoration: line-through;
}
