@media screen and (max-width: 750px) {
  .article h1 {
    font-size: 2.8rem;
    line-height: 3.4rem;
  }

  .article h2 {
    font-size: 2.2rem;
    line-height: 2.8rem;
  }
  
  .article h3 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
