@import url('./shiki-base.css');

:root {
  --shiki-token-foreground: #393a34;
  --shiki-token-background: #f6f6f6;
  --shiki-token-comment: #b8c4b8;
  --shiki-token-string: #c67b5d;
  --shiki-token-keyword: #248459;
  --shiki-token-function: #849145;
  --shiki-token-deleted: #a14f55;
  --shiki-token-class: #2b91af;
  --shiki-token-builtin: #a52727;
  --shiki-token-property: #ad502b;
  --shiki-token-namespace: #c96880;
  --shiki-token-punctuation: #8e8f8b;
  --shiki-token-decorator: #bd8f8f;
  --shiki-token-json-property: #698c96;
}
